<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="searchval">
      </div>
      </div>
       <div class="col-md-8">
        <div class="table-responsive">
          <table class=" table table-bordered">
            <thead>
              <tr>
                <th class="scope=col">sr no </th>
                <th class="scope=col">name</th>
                <th class="scope=col">team</th>
                <th class="scope=col">odiRuns</th>
                <th class="scope=col">testRuns</th>
                <th class="scope=col">yearDebut</th> 
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let player of cricketArray | piperfilter:searchval; index as i">
                <td>{{i+1}}</td>
                <td>{{player.name}}</td>
                <td>{{player.team}}</td>
                <td>{{player.odiRuns}}</td>
                <td>{{player.testRuns}}</td>
                <td>{{player.yearDebut}}</td>
              </tr>
            </tbody>
          </table>
        </div>
       </div>
      </div>
    </div>



    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
          <input type="text" class="form-control">
          </div>
          </div>
          <div class="col-md-6">
            <div class="card" *ngFor="let reel of reelsarray">
              <div class="card-header">
                   {{  reel.title}}
              </div>
              <div class="card-body">
                <!-- {{reel.id}}, -->
                 <p>{{reel.likeCount}} likecount</p>
                 {{reel.isLike}}
              </div>
              <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-info">
                  edit
                </button>
                <button class="btn btn-success">
                  delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
